@using ASP_MVC_Movie.ViewModel
@model MovieVM




@{
    ViewData["Title"] = "Create Movie";
}

<div class="container w-50">

    <h1 class="text-white">@ViewData["Title"]</h1>

    <form method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label class="text-white" asp-for="VideoFile" class="control-label"></label>
            <input asp-for="VideoFile" type="file" class="form-control" />
            <span asp-validation-for="VideoFile" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label class="text-white" asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label class="text-white">Genres:</label>
            @foreach (var genre in Model.AvailableGenres)
            {
                <div class="checkbox text-white">
                    <label>
                        <input type="checkbox" name="SelectedGenreIds" value="@genre.Id" />
                        @genre.Name
                    </label>
                </div>
            }
        </div>
    
 

        <div class="form-group">
            <label class="text-white" asp-for="Country" class="control-label"></label>
            <input asp-for="Country" class="form-control" />
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="text-white" asp-for="Rating" class="control-label"></label>
            <input asp-for="Rating" class="form-control" />
            <span asp-validation-for="Rating" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="text-white" asp-for="Director" class="control-label"></label>
            <input asp-for="Director" class="form-control" />
            <span asp-validation-for="Director" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="text-white" asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="text-white" asp-for="ReleaseDate" class="control-label"></label>
            <input asp-for="ReleaseDate" class="form-control" />
            <span asp-validation-for="ReleaseDate" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-4">Create</button>
    </form>


</div>